.footer{
    padding: 25px 30px;
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 40px;
    font-size: 16px;
    line-height: 20px;
    background: var(--primary);
    color: var(--white);
}

.footer a:hover{
    color: var(--gray-light);
}

@media(max-width: 765px){
    .footer{
        text-align: center;
        grid-template-columns: 1fr;
        gap: 10px;
    }
}