html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: #F5F6F8;

	font-family: "Noto Sans", sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3B434E;
	--gray-light: #EBEBEB;
	--gray-dark: #505359;
	--white: white;
	--primary: #7351F5;
	--primary-hover: #5F3FDF;
	--red: #FC836D;
	--red-light: #F2A092;
	--green: #027B49;
	--green-light: #C8F8E4;
	--font-family: "Noto Sans", sans-serif;
}

@media (prefers-color-scheme: dark){
	body {
		color: #000;
		background: var(--white)!important;
	}
}
